<a href="https://colab.research.google.com/github/Borhanuddin672012/Sample_coding/blob/main/Decision_Tree_Classification_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning Tutorial (Bangla) | Decision Tree Classification || ML Bangla Tutorial** 

[Decision Tree Classification](https://www.youtube.com/watch?v=2cyHLn_WLqM&list=PLKdU0fuY4OFcot0zyVbM1-zKf_eCUK4zQ&index=86)

[Data sets](https://www.kaggle.com/studymart/predict-male-female)

In [19]:
import pandas as pd
from sklearn import tree

In [20]:
df = pd.read_csv('male female.csv')

In [21]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [22]:
x = df.iloc[:,:-1]

In [23]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [24]:
#iloc Remove the colums
y = df.iloc[:,3]

In [25]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [26]:
classify = tree.DecisionTreeClassifier()

In [27]:
classify = classify.fit(x,y)

In [28]:
#prediction Gender
prediction_ = classify.predict([[190,70,43]])

In [29]:
prediction_

array(['female'], dtype=object)