<a href="https://colab.research.google.com/github/Borhanuddin672012/Sample_coding/blob/main/Import_BigqueryAuthenticated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BigQuery + Colaboratory setup in 5 mins** [BigQuery + Colaboratory](https://tech.aaronteoh.com/bigquery-colaboratory-basics/)   [Second](https://colab.research.google.com/notebooks/bigquery.ipynb)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import datetime as dt

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
project_id = 'ilds2020'

In [ ]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

In [ ]:
%%bigquery --project ilds2020 df
SELECT * FROM `Project_Dataset_IoT.household_power_consumption`

In [ ]:
df.head()

         Date      Time  ... Sub_metering_2 Sub_metering_3
0  2006-12-16  22:15:00  ...          0.000            9.0
1  2006-12-17  05:15:00  ...          0.000            9.0
2  2006-12-17  22:08:00  ...          1.000           10.0
3  2006-12-18  07:21:00  ...          0.000            8.0
4  2006-12-18  20:12:00  ...          1.000            4.0

[5 rows x 9 columns]

In [ ]:
df['Global_active_power'] + df['Global_reactive_power']

0          2.7780.000
1          2.9100.056
2          2.1560.318
3          2.9420.158
4          2.7220.212
              ...
2075254    2.4140.332
2075255    2.2340.304
2075256    2.2480.308
2075257    2.2620.312
2075258    2.1720.058
Length: 2075259, dtype: object

In [ ]:
df.dtypes

Date                      object
Time                      object
Global_active_power       object
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [ ]:
dt.to_csv('household_power_consumption.csv’, index=False)

SyntaxError: ignored

In [ ]:
df['Voltage'].astype('float')

ValueError: ignored

In [ ]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('?', '')
    return float(new_val)

In [ ]:
#df['Voltage'].apply(convert_currency)
df['Voltage'].apply(convert_currency)

ValueError: ignored

# **[error handling](https://machinelearningmastery.com/how-to-load-and-explore-household-electricity-usage-data/)**

# **[ object to float64 or int64 convert ](https://pbpython.com/pandas_dtypes.html)**


[Changing data type](https://www.ritchieng.com/pandas-changing-datatype/)

In [ ]:
%%bigquery --project ilds2020 df2
SELECT * FROM `Project_Dataset_Retail.online_retail`

In [ ]:
df2.head()

Date                     None
Time                     None
Global_active_power      None
Global_reactive_power    None
Voltage                  None
dtype: object