<a href="https://colab.research.google.com/github/Borhanuddin672012/Sample_coding/blob/main/Python_Linear_Regression_with_Multiple_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning Tutorial (Bangla) || Python Linear Regression with Multiple Variables  [ Linear Regression with Multiple Variables](https://www.youtube.com/watch?v=tLkAQWYauNs&list=PLKdU0fuY4OFcot0zyVbM1-zKf_eCUK4zQ&index=72)

[Use case ](https://www.kaggle.com/studymart/car-driving-risk-analysis)

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('car driving risk analysis.csv')

In [3]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    105       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [5]:
df.head()

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    105       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82

In [11]:
df.shape

(6, 4)

In [6]:
df.isnull()

   speed  car_age  experience   risk
0  False    False       False  False
1  False    False       False  False
2  False    False       False  False
3  False    False        True  False
4  False    False       False  False
5  False    False       False  False

In [7]:
df.isnull().sum()

speed         0
car_age       0
experience    1
risk          0
dtype: int64

In [8]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [13]:
exam_fit = df.experience.mean()
exam_fit

6.6

In [14]:
exam_fit2 = df.experience.median()
exam_fit2

5.0

In [15]:
# fillna working on fill up missing values for all
df.experience = df.experience.fillna(exam_fit2)

In [16]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [17]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    105       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [18]:
reg = linear_model.LinearRegression()

In [19]:
reg.fit(df[['speed','car_age','experience']], df.risk)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
reg.predict([[160,10,5]])

array([69.75521915])

In [24]:
reg.coef_

array([ 0.11884721,  1.74431475, -7.99366688])

In [25]:
reg.intercept_

73.2648524572957

In [ ]:
# y = m1x1 + m2x2 +...................+ Mn Xn + c
# risk = M1 * speed + M2 * car_age * M3 * experience + intercept

In [28]:
y =  0.1188472*160 + 1.74431475*10 + 5 * -7.99366688 + 73.2648524572957

In [29]:
y

69.75521755729571